*{
    margin: 0%;
   padding: 0;
    box-sizing: border-box;
    font-family:'montserrat';
}
body,html{
    height: 100%;
    width: 100%;
    color: rgb(19, 11, 11);
}
#nav{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between; 
    position: fixed;

}

.start-menu{
display: flex;
align-items: center;
gap: 20px;

}
.end-menu{
display: flex;
gap: 25px;
align-items: center;

}
#nav h4{
    text-transform: uppercase;
}
#nav img{
    height: 40px;
}
.sign{
    display: flex;
    justify-content: end;
    gap: 40px;
}
#front-section{
    
    display: flex;
    width: 100%;
}

.sec1{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 25px;
    padding-bottom: 2vh;
    font-family: "Gilroy";
   
    font-size: 27px;
}
#sec2 img{
    max-width: 630px;
    
}
span{
    color: #289e8a;
}
.notch{
    display: flex;
    gap: 10px;
    padding: 17px 0px;
}
.course{
    background-color:#289e8a ;
    color: white;
    padding: 19px 21px;
    border: none;
    border-radius: 5px;
    margin: 25px 0px;
    
}
.course:hover {
    background-color: #164b42;
  }
.instru{
    font-size: 15px;
}
.img-key{
    width: 50px;
    
}
/*2nd section*/
.middel-content{
margin: 100px 320px;


}
.disc{
    font-size: 40px;
}
.disc1{
    font-size: 23px;
}
.company-images{
    margin:60px  40px;
    display: flex;
    justify-content: space-between;
}
.company-images img{
width: 90px;
height: 50px;
}

/*3nd section*/
.third-section{
    max-width: 100%;
display: flex;
justify-content: space-between;
margin:180px 55px 20px 55px;
}
.row1 img{
   max-width: 500px;
}

.row2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:start ;
   
   
    
}
.row2 h1{
    font-size: 45px;
    padding-bottom: 20px;
}
.fourth-section{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin:40px 55px 20px 55px;
    

}
.row4 img{
    max-width: 500px;
    padding-right: 45px;
 }
 .row4{

 }
 .row3{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:start ;
   padding-left: 80px;
   
 }
 .row3 h1{
    font-size: 45px;
    margin-bottom: 20px;
    max-height: 200px;
}
/*button*/
.same-button{
    background-color:#b1cfeb ;
    color: black;
    font-size: large;
    padding: 15px 22px;
    border: none;
    margin: 25px 0px;
    border-radius: 5px;
}
.same-button:hover{
    background-color:#739cc2 ;
}
/*5th section*/
.fifth-section{
background-color: hwb(0 91% 9% / 0.982);
width: 100%;
padding-bottom: 40px;


}
.fifth-section-row1{
   
    padding: 60px 86px;
display: flex;
justify-content: space-around;

}
.bg-row{
    min-width: 430px;
    padding: 30px;
    height: 380px;
    background-color: white;
    
    margin-right: 10px;
}
.fifth-section-row2{
    display: flex;
    overflow: scroll;
    margin-left: 30px;
}
.fifth-section-row2::-webkit-scrollbar{
    width: 0;
}
.img-1st img {
min-width: 95%;
max-height: 120px;
overflow: hidden;
margin-bottom: 20px;
transition: all .2s;
}
.row2-1{
    margin-bottom: 20px;
}
.fifth-section-row2:hover .img-1st,
.fifth-section-row2:focus .img-1st{
  transform: scale(0.9);
}
.img-logo{
    padding-top: 10px;
    display: flex;
    
    align-items:center ;
    gap: 5px;
 

}
.img-logo img{
   height: 50px;
   width: 40px;
   position: absolute;
}
.img-2nd img {
    min-width: 95%;
    max-height: 120px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .2s;
    }
    .row2-2{
        margin-bottom: 20px;
    }
    .fifth-section-row2:hover .img-2nd,
    .fifth-section-row2:focus .img-2nd{
      transform: scale(0.9);
      
    }







